#
#Tue Oct 02 10:11:36 ICT 2018
ProjectVariable.PROJECT_NAME=Student_Registration123
DOC=doc
RES=src/main/resources
ProjectVariable.MAVEN_GROUP_ID=group.to.be.defined
ROOT_PKG=org.demo
WEB=src/main/webapp
ProjectVariable.REST_API_ROOT=/api/v1
ProjectVariable.REST_SERVER_PORT=3000
SRC=src/main/java
ENTITY_PKG=org.demo.bean
SpecificTemplatesFolder=
ProjectVariable.MAVEN_ARTIFACT_ID=Student_Registration123
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=0.1
SpecificDestinationFolder=
TEST_SRC=src/test/java
ProjectVariable.REST_URL_ROOT=http\://localhost\:3000
TMP=tmp
